# .terraform directories
**/.terraform/*
.terraform.lock.hcl
provider.tf
key.tf

# .tfstate files
*.tfstate
*.tfstate.*
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# log files
crash.log
