# .terraform directories
**/.terraform/*
.terraform.lock.hcl


# .tfstate files
*.tfstate
*.tfstate.*
override.tf
override.tf.json
*_override.tf
*_override.tf.json
key.tf
provider.tf

# log files
crash.log
